### installing numpy using "pip install pandas"
        import numpy using "import numpy as np"
        import numpy using "import pandas as pd"

#### Pandas DataStructure
    - Series : One dimensional
      - ex : pd.Series([12,-4,7,9])
      - pd.Series([12,-4,7,9], index=['a','b','c','d']) : provides the name to indexes
      - use 's.index' and 's.values' for getting info
      - Selecting element : s[0] , s[0:2], s[['b','c']]
      - update element : s[0] = 1
      - declare series using numpy array
        - arr = np.array([1,2,3,4])                  
        - s3 = pd.Series(arr)   
        - Always keep in mind that the values contained in the NumPy array or in the original series are not copied, but are passed by reference
        - change any value in arr, code will change it everywhere
      - filter value : s[s>8]
    - DataFrame :  contain cases with several dimensions.

In [139]:
import pandas as pd
import numpy as np

s = pd.Series([12,-4,7,9], index=['a','b','c','d'])
print("series\n",s)
print(f"index = {s.index}, values = {s.values}")
print(f"value at s[0] = {s.iloc[0]}, values at s[['b','c']] = {s[['b','c']]}")
print(f"filtered value = {s[s>8]}")

series
 a    12
b    -4
c     7
d     9
dtype: int64
index = Index(['a', 'b', 'c', 'd'], dtype='object'), values = [12 -4  7  9]
value at s[0] = 12, values at s[['b','c']] = b   -4
c    7
dtype: int64
filtered value = a    12
d     9
dtype: int64

#### operations on Series
    - (+, -, *, and /)  operation apply on the complete series
      - ex : np.log(s)          # log opertaion is applied to all element in the series
    - unique()      # filtered out teh unique value 
    - value_counts()  #  which not only returns unique values but also calculates the occurrences within a series.
    - isin()        # This function tells you if the values are contained in the data structure. Boolean values that are returned. Can be useful for filtering
      - ex : serd[serd.isin([0,3])]         # filtered the values

In [140]:
serd = pd.Series([1,0,2,1,2,3], index=['white','white','blue','green','green','yellow'])
print(f"check 1 and 3 value = \n{serd.isin([1,3])}")

print(f"filtered 1 and 3 value = \n{serd[serd.isin([1,3])]}")

check 1 and 3 value =
white      True
white     False
blue      False
green      True
green     False
yellow     True
dtype: bool
filtered 1 and 3 value =
white     1
green     1
yellow    3
dtype: int64

#### NaN value (Not a Number)
    - returned by negative log, divide by 0
    - np.nan        # used to define NaN value
      - isnull() and notnull() : functions are very useful for identifying the indexes without a value.
      - These  functions return 'True' or 'false' 
      - ser.dropna()          # drop the series with NaN
      - ser[ser.notnull()]    # use to filter which are not null
      - use "frame3.dropna(how='all')" for dataframe it will filtered all rows with NAN
      - use frame3.fillna(0)   # to fill NaN with 0 values
      - frame3.fillna({'ball':1,'mug':0,'pen':99})  # will fill column according to values

In [141]:
#a = np.log(-10)

s2 = pd.Series([5,-3,np.nan,14])
print(f"Not null values = {s2[s2.notnull()]}")

frame_null = pd.DataFrame([[6,np.nan,6],[np.nan,np.nan,np.nan],[2,np.nan,5]],                
                        index = ['blue','green','red'],                
                        columns = ['ball','mug','pen'])

print("frame_null =\n",frame_null)
print("frame using frame_null.dropna()=\n",frame_null.dropna())
print("frame using frame_null.dropna(how = 'all')=\n",frame_null.dropna(how = 'all'))

frame_null.fillna({'ball':1,'mug':0,'pen':99})

Not null values = 0     5.0
1    -3.0
3    14.0
dtype: float64
frame_null =
        ball  mug  pen
blue    6.0  NaN  6.0
green   NaN  NaN  NaN
red     2.0  NaN  5.0
frame using frame_null.dropna()=
 Empty DataFrame
Columns: [ball, mug, pen]
Index: []
frame using frame_null.dropna(how = 'all')=
       ball  mug  pen
blue   6.0  NaN  6.0
red    2.0  NaN  5.0

       ball  mug   pen
blue    6.0  0.0   6.0
green   1.0  0.0  99.0
red     2.0  0.0   5.0

#### Operation between series
    - you add two series having only some elements in common with the label.
    - For non common NaN will be returened

In [142]:
mydict = {'red': 2000, 'blue': 1000, 'yellow': 500, 'orange': 1000}                  
myseries = pd.Series(mydict)

mydict2 = {'red':400,'yellow':1000,'black':700}                  
myseries2 = pd.Series(mydict2)                  
print(myseries + myseries2)

black        NaN
blue         NaN
orange       NaN
red       2400.0
yellow    1500.0
dtype: float64

#### Data Frame
  ![alt text](images/DF_data.jpg)
  - The first index array, associated with the lines, has very similar functions to the index array in series.
  - The second array contains a series of labels, each associated with a particular column.

In [143]:
data = {'color' : ['blue','green','yellow','red','white'],                  
                     'object' : ['ball','pen','pencil','paper','mug'],                  
                     'price' : [1.2,1.0,0.6,0.9,1.7]}                  
frame = pd.DataFrame(data) 
print(frame)

    color  object  price
0    blue    ball    1.2
1   green     pen    1.0
2  yellow  pencil    0.6
3     red   paper    0.9
4   white     mug    1.7

#### Data frame basic operations
    - filter few column using pd.DataFrame(data, columns=['object','price']) 
    - Add 'index', 'column' arguments in 'DataFrame' for naming
      -  'frame.index' : to get the indexes
      -  'frame.columns' : to get teh columns
   - frame['price'] or frame.price   # select price column
   - if what you want to achieve is a single value within a dataframe, you first use the name of the column and then the index or the label of the row.
     - ex : frame[column][row]
   - Assign name to index and column
     - frame.index.name = 'id'                  
     - frame.columns.name = 'item'

In [144]:
frame = pd.DataFrame(np.arange(16).reshape((4,4)),                  
                   index=['red','blue','yellow','white'],                  
                   columns=['ball','pen','pencil','paper'])

print(f"frame  \n{frame}")
print(f"index = {frame.index}")
print(f"column = {frame.columns}")
print(f"Price column = {frame['pen']}")
#print(f"Price column = {frame.pen}")       # same meaning as above

print(f"2 and 4th loc = {frame.loc[['red','yellow']]}")
print(f"frame['ball']['red'] = {frame['ball']['red']}")

frame.index.name = 'colour'
frame.columns.name = 'type'
frame

frame
        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15
index = Index(['red', 'blue', 'yellow', 'white'], dtype='object')
column = Index(['ball', 'pen', 'pencil', 'paper'], dtype='object')
Price column = red        1
blue       5
yellow     9
white     13
Name: pen, dtype: int64
2 and 4th loc =         ball  pen  pencil  paper
red        0    1       2      3
yellow     8    9      10     11
frame['ball']['red'] = 0

type    ball  pen  pencil  paper
colour
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

#### Add / delete new column in data frame
    - You can do this by simply assigning a value to the instance of the dataframe and specifying a new column name.
      - ex : frame['new'] = [3.0,1.3,2.2,0.8,1.1]
      - or create series : ser = pd.Series(np.arange(5))
      - frame['new'] = ser
    - delete : del frame['new'] or use drop()
    - isin()      # API is used to check the presence
    - filtering Data frame using frame[frame['price'] < 1.2] 
    - ser.idxmin()      # get the min index value
    - ser.idxmax()      # get maximum index value

In [145]:
ser = pd.Series(np.arange(4), index=['red','blue','yellow','white'])
frame['new'] = ser

print(frame)

print(frame.isin([1.0,'pen']))

frame[frame['pen'] < 6]

type    ball  pen  pencil  paper  new
colour
red        0    1       2      3    0
blue       4    5       6      7    1
yellow     8    9      10     11    2
white     12   13      14     15    3
type     ball    pen  pencil  paper    new
colour
red     False   True   False  False  False
blue    False  False   False  False   True
yellow  False  False   False  False  False
white   False  False   False  False  False

type    ball  pen  pencil  paper  new
colour
red        0    1       2      3    0
blue       4    5       6      7    1

#### series with duplicate index
    - serd = pd.Series(range(6), index=['white','white','blue','green','green','yellow'])
      - serd.index.is_unique  return true or false based on index

In [146]:
serd = pd.Series(range(6), index=['white','white','blue','green','green','yellow'])
serd['white']

white    0
white    1
dtype: int64

#### Reindexing, Droping and Alignment
    - Reindexing : reindex() function.
      - During reindexing, it is possible to change the order of the sequence of indexes, delete some of them, and add new ones
      - automatic reindexing : use method "method='ffill'" or "method='bfill'" in reindex() function
      - frame.reindex(range(5), method='ffill',columns=['colors','price','new','object'])   # for Dataframe reindexing
    - Droping 
      - drop() : This method will return a new object without the items that you want to delete.
      - define 'axis =1' to delete the column
    - Alignment
      - Pandas do alignment during arithmatic operations
      - not only can the indexes between the two structures be in a different order, but they also can be present in only one of the two structures.
      - For dataframe, alignment carried out both for the rows and for the columns.
      - see next example for arithmatic operations

In [147]:
ser = pd.Series([2,5,7,4], index=['one','two','three','four'])
print("Series before ReIndex",ser)
ser_reindex = ser.reindex(['three','four','five','one'])  
print("Series after ReIndex",ser_reindex)

# missing index example
ser3 = pd.Series([1,5,6],index=[0,3,5])
print("Series before ffill or bfill",ser3)
ser_ffill = ser3.reindex(range(5), method='ffill')
print("Series with ffill",ser_ffill)

ser_bfill = ser3.reindex(range(5), method='bfill')
print("Series with bfill",ser_bfill)

Series before ReIndex one      2
two      5
three    7
four     4
dtype: int64
Series after ReIndex three    7.0
four     4.0
five     NaN
one      2.0
dtype: float64
Series before ffill or bfill 0    1
3    5
5    6
dtype: int64
Series with ffill 0    1
1    1
2    1
3    5
4    5
dtype: int64
Series with bfill 0    1
1    5
2    5
3    5
4    6
dtype: int64

In [148]:
frame = pd.DataFrame(np.arange(16).reshape((4,4)),                
                   index=['red','blue','yellow','white'],                
                   columns=['ball','pen','pencil','paper'])
print("original frame :-\n",frame)

new_frame = frame.drop(['pen','pencil'], axis=1)
print("frame after droping :-\n",new_frame)

original frame :-
         ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15
frame after droping :-
         ball  paper
red        0      3
blue       4      7
yellow     8     11
white     12     15

#### operation in dataframe
    - When the labels are present in both operators, their values will be added, 
    - while in the opposite case, they will also be shown in the result (new series), but with the value NaN.
    - add(), sub(), div(), mul()
    - If operation between Dataframe and series then if new index is available in series new column is added 
    - value is applied for all values of the column, regardless of their index

In [149]:
frame1 = pd.DataFrame(np.arange(16).reshape((4,4)),                
                   index=['red','blue','yellow','white'],                
                   columns=['ball','pen','pencil','paper'])   
print("frame1 :-\n",frame1)             
frame2 = pd.DataFrame(np.arange(12).reshape((4,3)),                
                   index=['blue','green','white','yellow'],                
                   columns=['mug','pen','ball'])
print("frame2 :-\n",frame2)

frame1 + frame2

frame1 :-
         ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15
frame2 :-
         mug  pen  ball
blue      0    1     2
green     3    4     5
white     6    7     8
yellow    9   10    11

        ball  mug  paper   pen  pencil
blue     6.0  NaN    NaN   6.0     NaN
green    NaN  NaN    NaN   NaN     NaN
red      NaN  NaN    NaN   NaN     NaN
white   20.0  NaN    NaN  20.0     NaN
yellow  19.0  NaN    NaN  19.0     NaN

In [150]:
frame = pd.DataFrame(np.arange(16).reshape((4,4)),                
                   index=['red','blue','yellow','white'],                
                   columns=['ball','pen','pencil','paper'])
ser = pd.Series(np.arange(5), index = ['ball','pen','pencil','paper', 'mug'])

print("frame :-\n",frame) 
print("series :-\n",ser) 
frame - ser

frame :-
         ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15
series :-
 ball      0
pen       1
pencil    2
paper     3
mug       4
dtype: int64

        ball  mug  paper  pen  pencil
red        0  NaN      0    0       0
blue       4  NaN      4    4       4
yellow     8  NaN      8    8       8
white     12  NaN     12   12      12

#### function
    - ufunc  universal functions
      - function apply to  each value in the dataframe
      - np.sqrt(frame)
    - user defined function
      - ex : f = lambda x: x.max() - x.min()
      - applymap() or map() : To apply on all elements
      - apply() : use this to apply the function
    - see in the example how to drop one and convert only one column
    - describe() that allows you to obtain summary statistics at once.

In [151]:
sqrt_frame = np.sqrt(frame)
print("sqrt_frame :-\n",sqrt_frame)

data = [['0A', '0B'],
        ['0C', '0D']]
df = pd.DataFrame(data,
                     index = ['red', 'blue'],
                     columns= ['ball', 'pen'])
print("df :-\n",df)
f = lambda x: int(x, 16)

#alternate way
'''
def f(x):                
        return int(x, 16) 
'''
#df.applymap(f)

#alternate way
'''
df.map(lambda x: int(x, 16))
df['ball'].apply(lambda x: int(x, 16))
'''
print("apply on complete frame :-\n",df.map(f))

print("apply on one column :-\n",df['ball'].apply(f))

# apply only to ball column. axis = 1 is for column
new_frame = df.drop('ball', axis = 1).join(df['ball'].apply(f))
print("new_frame :-\n",new_frame)

# reorderd
new_frame[['ball','pen']]

sqrt_frame :-
             ball       pen    pencil     paper
red     0.000000  1.000000  1.414214  1.732051
blue    2.000000  2.236068  2.449490  2.645751
yellow  2.828427  3.000000  3.162278  3.316625
white   3.464102  3.605551  3.741657  3.872983
df :-
      ball pen
red    0A  0B
blue   0C  0D
apply on complete frame :-
       ball  pen
red     10   11
blue    12   13
apply on one column :-
 red     10
blue    12
Name: ball, dtype: int64
new_frame :-
      pen  ball
red   0B    10
blue  0D    12

      ball pen
red     10  0B
blue    12  0D

In [152]:
frame.describe()

            ball        pen     pencil      paper
count   4.000000   4.000000   4.000000   4.000000
mean    6.000000   7.000000   8.000000   9.000000
std     5.163978   5.163978   5.163978   5.163978
min     0.000000   1.000000   2.000000   3.000000
25%     3.000000   4.000000   5.000000   6.000000
50%     6.000000   7.000000   8.000000   9.000000
75%     9.000000  10.000000  11.000000  12.000000
max    12.000000  13.000000  14.000000  15.000000

#### Sorting
    - ser.sort_index()                  # will sort in alphabatic order A-Z or 1 to increasing
    - ser.sort_index(ascending=False)    # will sort in alphabatic order in Z-A or max to decreasing
    - For Data frame :-
      - frame.sort_index()               # will sort the index
      - frame.sort_index(axis = 1)       # will sort the column
    - sort_values()                      # will sort values
      - For DataFrame, use "frame.sort_values(by='column_name')" specify name of the column
    - correlation and covariance
      - corr() and cov()    # use for this
      - corrwith()          # to calculate correlation between 2
        - ex : frame2.corrwith(frame)

In [153]:
print("After sorting with column\n",frame.sort_index(axis = 1))

print("After sorting with column\n",frame.sort_values(by='paper',ascending=False))

After sorting with column
         ball  paper  pen  pencil
red        0      3    1       2
blue       4      7    5       6
yellow     8     11    9      10
white     12     15   13      14
After sorting with column
         ball  pen  pencil  paper
white     12   13      14     15
yellow     8    9      10     11
blue       4    5       6      7
red        0    1       2      3